.checkoutContainer {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thankYouMessage {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.returnButton {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff5757;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.returnButton:hover {
    background-color: #ff3c3c;
}
