@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
  
  background-color: black;
}
.footer{
    margin:0;
    width:100%;
    display: flex;
    flex-flow: column;
    justify-content:flex-start;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    padding:20px;
    height:auto;
    font-size: 10px;
    font-weight: 800;
    max-width: 100%; 
   
  
  
  }
  .same1{
    font-size:15px;
  }
  .same1,.same{
    padding:20px;
    gap:20px;

  }
  .footer div{
    padding:10px;
  
  }
  .cen{
    margin:auto;
    font-size:15px;
    text-align: center;
    align-self:center;

    
  }
  