@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&family=Monoton&display=swap');


.body {
    overflow-x: hidden;
    padding:0;
    margin:0;  
    background-color: black;
   
  }


.back{
  width:100%;
  height:auto;
  
}
.a{
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: black;
  font-family: "Monoton", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
  font-weight: 800;
 
  
  

}
.a1,.a2,.a3{

  
  text-align: center;
  position:absolute;
  left:10%;
  
}
  
.a1{
  top:45%;
  
  

}
.a2{
  top:60%;

}
.a3{
  top:75%;
}
.shop {
  position: absolute;
  background-color: #000000; /* A warm tomato color for contrast */
  color: #ffffff; /* White text for readability */
  border: none;
  outline: none;
  top: 95%;
  left: 10%;
  font-size: 36px; /* Balanced size */
  font-weight: 700; /* Clean and bold */
  border-radius: 25px;
  width: 280px; /* Sleek width */
  height: 80px;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Smooth transition */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Softer shadow */
}

/* Hover effect */
.shop:hover {
  background-color:  #FFBF00;
  color:#000000; /* Slightly darker for a hover effect */
  transform: translateY(-5px); /* Lift effect */
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2); /* Prominent shadow */
}

/* Click effect */
.shop:active {
  transform: translateY(2px); /* Press effect */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* Animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}


