.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full screen height */
  }
  
  .spinner {
    border: 8px solid #010a2b; /* Light grey */
    border-top: 8px solid yellow; /* Blue */
    border-radius: 50%;
    width: 60px; /* Size of the spinner */
    height: 60px; /* Size of the spinner */
    animation: spin 1s linear infinite; /* Spin animation */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  p {
    margin-top: 10px;
    font-size: 18px; /* Adjust font size as needed */
    color: #555; /* Text color */
  }
  